<% if user_signed_in? %>
  <%#= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>

  <h1 style="margin-bottom: 20px;">Course Schedules</h1>

  <% @course_schedules.each do |course_schedule| %>
    <div class="course-schedule" style="margin-bottom: 20px;">
      <h2 style="margin-bottom: 10px;">User: <%= course_schedule.user.first_name %> <%= course_schedule.user.last_name %></h2>
      <h2 style="margin-bottom: 10px;">Quarter: <%= course_schedule.quarter_name %></h2>
      <table border="1" style="width: 100%; margin-bottom: 20px;">
        <thead>
        <tr>
          <th>Course Name</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
        </thead>
        <tbody>
        <% course_schedule.enrolled_courses.each do |enrolled_course| %>
          <tr>
            <td><%= enrolled_course.course_name %></td>
            <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'].each do |day| %>
              <td>
                <% if enrolled_course.course_day_of_week == day %>
                  <%= enrolled_course.course_meeting_start.strftime("%I:%M%p") %> -
                  <%= enrolled_course.course_meeting_end.strftime("%I:%M%p") %>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to 'Show course schedule', course_schedule_path(course_schedule), style: 'display: block; margin-bottom: 10px;' %>
    </div>
  <% end %>

  <%= link_to 'New course schedule', new_course_schedule_path, style: 'display: block; margin-bottom: 20px;' %>
  <%#= link_to 'Enroll course?', enrolled_courses_path %>
<% else %>
  <h1 style="margin-bottom: 20px;">Home</h1>
  <%= link_to 'Sign in', new_user_session_path, style: 'display: block; margin-bottom: 20px;' %>
<% end %>
