<% if user_signed_in? %>
  <h1>Enrolled Courses</h1>

  <% @enrolled_courses.each do |enrolled_course| %>
    <div>
      <p>
        Schedule: <%= enrolled_course.course_schedule.quarter_name %><br>
        Name: <%= enrolled_course.course_name %><br>
        Day of Week: <%= enrolled_course.course_day_of_week %><br>
        Start: <%= enrolled_course.course_meeting_start.strftime("%I:%M%p") %><br>
        End: <%= enrolled_course.course_meeting_end.strftime("%I:%M%p") %><br>
        <%= link_to 'Show enrolled course', enrolled_course_path(enrolled_course) %>
      </p>
    </div>
  <% end %>

  <%= link_to 'Enroll new course', new_enrolled_course_path %>
<% end %>
